Apache_Point_Observatory/
Budget_proposal/
Calibration/
CCD_data/
Data_processed/
Data_raw/
Hardware/
Instructions/
Observing_scripts/
Performance/
Reference/
Scripts/__pycache__/
Scripts/Flat_scripts/.vscode
Scripts/test.txt
__pycache__/
*.docx