AAAA_BadData/
AAAA_ToBeProcessed/
Calibration/
CCD_data/
Data_processed/
Data_raw/
Gallery/
Hardware/
Images/
Instructions/
Paper/
Performance/
Reference/
Scripts/__pycache__/
Scripts/.vscode
Scripts/Flat_scripts/.vscode
Scripts/test.txt
__pycache__/
*.docx
*xlsx
Scripts/process_input.py
